<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Curren user</title>
</head>
<body>
<h2>Curren user</h2>
<table border="1px" cellpadding="2" cellspacing="">
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.firstName}">First name</td>
        <td th:text="${user.lastName}">Last name</td>
        <td th:text="${user.age}">Age</td>
        <td th:text="${user.email}">Email</td>
    </tr>
    </tbody>

</table>
<br>
<br>
<a th:href="@{/logout}">Logout</a>
</body>
</html>